# Files to ignore when pushing a PyCharm Django project to github:

#files only needed by a PyCharm project and local-only django files
local_settings.py

#the virtual environment name - use the name of your virtual environment
#if different from venv
.venv

### Django ###
*.log
*.pot
**/*.pyc
**/__pycache__/
db.sqlite3
#if you have specific media files that are needed in the media folder, un-comment
# the following folder name:
#media

# Ignore Django Migrations in Development if you are working on team

# Only for Development only
**/migrations/**
# !**/migrations
!**/migrations/__init__.py
chromedriver
staticfiles

#ignore all static/admin folders
**/static/admin/

# Python cache
*.pyc
__pycache__/

# Virtual environments
.venv/
venv/

# IDEs
.idea/
.vscode/
